<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div id="loading">Please be patient, we're fetching some shit.</div>
    <div class="controls"></div>
    <div class="twitter_feed"></div>
    <div class="tags"></div>
  </body>
</html>